<div id="header">
  <div id="logo">
    <%= link_to "ロゴが入るよ！", root_path %>
  </div>
  <ul id="header-menu">
    <li class="signup"><%= link_to "新規登録", "#" %></li>
    <li class="login"><%= link_to "ログイン", "#" %></li>
    <li class="logout"><%= link_to "ログアウト", "#" %></li>
    <li class="inquiry"><%= link_to "問い合わせ", "#" %></li>
  </ul>
</div>
